<html>
    <head>
        <style>
            /*! CSS Used from: https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp */
.material-icons-round{font-family:'Material Icons Round';font-weight:normal;font-style:normal;font-size:24px;line-height:1;letter-spacing:normal;text-transform:none;display:inline-block;white-space:nowrap;word-wrap:normal;direction:ltr;-webkit-font-feature-settings:'liga';-webkit-font-smoothing:antialiased;}
/*! CSS Used from: Embedded */
*,::before,::after{box-sizing:inherit;}
*,::before,::after{margin:0px;padding:0px;}
/*! CSS Used from: Embedded */
.css-u226zh{width:100%;text-align:center;object-fit:cover;color:transparent;text-indent:10000px;height:auto;}
.css-1ircn5c{opacity:1;background:transparent;color:rgb(52, 71, 103);box-shadow:none;}
.css-11rbhr{display:table;width:100%;border-collapse:collapse;border-spacing:0px;}
.css-1xnox0e{display:table-row-group;}
.css-1kuqfbs{color:inherit;display:table-row;vertical-align:middle;outline:0px;}
.css-11ptvp6{display:flex;flex-direction:column;opacity:1;background:transparent;color:rgb(52, 71, 103);box-shadow:none;}
.css-1h77wgb{box-sizing:border-box;display:flex;flex-flow:row wrap;margin-top:-24px;width:calc(100% + 24px);margin-left:-24px;}
.css-1h77wgb > .MuiGrid-item{padding-top:24px;}
.css-1h77wgb > .MuiGrid-item{padding-left:24px;}
.css-sa3w6d{color:rgba(0, 0, 0, 0.87);transition:box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;display:flex;flex-direction:column;position:relative;min-width:0px;overflow-wrap:break-word;background-color:rgb(255, 255, 255);background-clip:border-box;border:0px solid rgba(0, 0, 0, 0.125);border-radius:0.75rem;box-shadow:rgba(0, 0, 0, 0.1) 0rem 0.25rem 0.375rem -0.0625rem, rgba(0, 0, 0, 0.06) 0rem 0.125rem 0.25rem -0.0625rem;overflow:visible;}
.css-1ac3nod{margin:0px;font-family:Roboto, Helvetica, Arial, sans-serif;font-size:0.875rem;line-height:1.5;letter-spacing:0.02857em;opacity:1;text-transform:none;vertical-align:unset;text-decoration:none;color:rgb(52, 71, 103);font-weight:600;}
.css-v4qhfh{margin:0px;font-family:Roboto, Helvetica, Arial, sans-serif;font-size:0.875rem;line-height:1.5;letter-spacing:0.02857em;opacity:1;text-transform:none;vertical-align:unset;text-decoration:none;color:rgb(123, 128, 154);font-weight:400;}
.css-zohxfi{margin-right:16px;opacity:1;background:transparent;color:rgb(52, 71, 103);box-shadow:none;}
.css-1vkplif{margin:0px;font-size:1rem;line-height:1.625;font-family:Roboto, Helvetica, Arial, sans-serif;letter-spacing:0.0075em;opacity:1;text-transform:none;vertical-align:unset;text-decoration:none;color:rgb(52, 71, 103);font-weight:600;}
.css-1uo6sxl{box-sizing:border-box;margin:0px;flex-direction:row;flex-basis:100%;-webkit-box-flex:0;flex-grow:0;max-width:100%;}
@media (min-width: 576px){
.css-1uo6sxl{flex-basis:100%;-webkit-box-flex:0;flex-grow:0;max-width:100%;}
}
@media (min-width: 768px){
.css-1uo6sxl{flex-basis:100%;-webkit-box-flex:0;flex-grow:0;max-width:100%;}
}
@media (min-width: 992px){
.css-1uo6sxl{flex-basis:100%;-webkit-box-flex:0;flex-grow:0;max-width:100%;}
}
@media (min-width: 1200px){
.css-1uo6sxl{flex-basis:100%;-webkit-box-flex:0;flex-grow:0;max-width:100%;}
}
@media (min-width: 1400px){
.css-1uo6sxl{flex-basis:100%;-webkit-box-flex:0;flex-grow:0;max-width:100%;}
}
.css-18l73dz{padding-top:24px;padding-left:24px;padding-right:24px;opacity:1;background:transparent;color:rgb(52, 71, 103);box-shadow:none;}
.css-1fvfpv2{padding-top:8px;padding-bottom:8px;opacity:1;background:transparent;color:rgb(52, 71, 103);box-shadow:none;}
.css-1r8h6m1{width:100%;overflow-x:auto;background-color:rgb(255, 255, 255);border-radius:0.75rem;box-shadow:none;}
.css-1u3mkl1{width:55%;padding:12px 24px;opacity:1;background:transparent;color:rgb(52, 71, 103);box-shadow:none;border-bottom:0.0625rem solid rgb(240, 242, 245);}
.css-w614i4{position:relative;text-align:left;opacity:0.7;background:transparent;color:rgb(123, 128, 154);box-shadow:none;font-size:0.65rem;font-weight:700;text-transform:uppercase;}
.css-1qbdd0n{width:150px;padding:12px 24px;opacity:1;background:transparent;color:rgb(52, 71, 103);box-shadow:none;border-bottom:0.0625rem solid rgb(240, 242, 245);}
.css-1kcj9bb{position:relative;text-align:center;opacity:0.7;background:transparent;color:rgb(123, 128, 154);box-shadow:none;font-size:0.65rem;font-weight:700;text-transform:uppercase;}
.css-1nos2st{text-align:left;padding:12px 24px;opacity:1;background:transparent;color:rgb(52, 71, 103);box-shadow:none;font-size:0.875rem;border-bottom:0.0625rem solid rgb(240, 242, 245);}
.css-ekdnj9{display:inline-block;width:max-content;opacity:1;background:transparent;color:rgb(123, 128, 154);box-shadow:none;vertical-align:middle;}
.css-639qxb{display:flex;-webkit-box-align:center;align-items:center;padding-right:16px;opacity:1;background:transparent;color:rgb(52, 71, 103);box-shadow:none;}
.css-inp37n{position:relative;display:flex;-webkit-box-align:center;align-items:center;-webkit-box-pack:center;justify-content:center;flex-shrink:0;font-family:Roboto, Helvetica, Arial, sans-serif;line-height:1;border-radius:50%;overflow:hidden;user-select:none;transition:all 200ms ease-in-out 0s;background:transparent;color:rgb(255, 255, 255);font-weight:400;width:3rem;height:3rem;font-size:1rem;}
.css-1jn4m5x{margin:0px;font-family:Roboto, Helvetica, Arial, sans-serif;font-size:0.875rem;line-height:1.5;letter-spacing:0.02857em;opacity:1;text-transform:none;vertical-align:unset;text-decoration:none;color:rgb(76, 175, 80);font-weight:400;}
.css-15jcv17{text-align:center;padding:12px 24px;opacity:1;background:transparent;color:rgb(52, 71, 103);box-shadow:none;font-size:0.875rem;border-bottom:0.0625rem solid rgb(240, 242, 245);}
.css-1wd5euj{display:flex;-webkit-box-pack:center;justify-content:center;-webkit-box-align:center;align-items:center;padding-left:16px;padding-right:16px;opacity:1;background:transparent;color:rgb(52, 71, 103);box-shadow:none;}
.css-1jyu9r7{line-height:0;opacity:1;background:transparent;color:rgb(76, 175, 80);box-shadow:none;}
.css-7jcs4m{user-select:none;width:1em;height:1em;overflow:hidden;display:inline-block;text-align:center;flex-shrink:0;font-weight:700;font-size:1.25rem!important;}
.css-1i91mmw{line-height:0;opacity:1;background:transparent;color:rgb(244, 67, 53);box-shadow:none;}
.css-1bmbtuq{text-align:left;padding:12px 24px;opacity:1;background:transparent;color:rgb(52, 71, 103);box-shadow:none;font-size:0.875rem;border-bottom:none;}
.css-a8rluf{text-align:center;padding:12px 24px;opacity:1;background:transparent;color:rgb(52, 71, 103);box-shadow:none;font-size:0.875rem;border-bottom:none;}
.css-w6xrhl{display:flex;-webkit-box-pack:justify;justify-content:space-between;padding:0px;opacity:1;background:transparent;color:rgb(52, 71, 103);box-shadow:none;}
@media (min-width: 0px){
.css-w6xrhl{flex-direction:column;align-items:flex-start;}
}
@media (min-width: 576px){
.css-w6xrhl{flex-direction:row;-webkit-box-align:center;align-items:center;}
}
/*! CSS Used fontfaces */
@font-face{font-family:'Material Icons Round';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/materialiconsround/v100/LDItaoyNOAY6Uewc665JcIzCKsKc_M9flwmPq_HTTw.woff2) format('woff2');}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fCRc4AMP6lbBP.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fABc4AMP6lbBP.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fCBc4AMP6lbBP.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fBxc4AMP6lbBP.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fCxc4AMP6lbBP.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fChc4AMP6lbBP.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fBBc4AMP6lQ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu72xKKTU1Kvnz.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu5mxKKTU1Kvnz.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu7mxKKTU1Kvnz.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4WxKKTU1Kvnz.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu7WxKKTU1Kvnz.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu7GxKKTU1Kvnz.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fCRc4AMP6lbBP.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fABc4AMP6lbBP.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fCBc4AMP6lbBP.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fBxc4AMP6lbBP.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fCxc4AMP6lbBP.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fChc4AMP6lbBP.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fBBc4AMP6lQ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfCRc4AMP6lbBP.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfABc4AMP6lbBP.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfCBc4AMP6lbBP.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfBxc4AMP6lbBP.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfCxc4AMP6lbBP.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfChc4AMP6lbBP.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfBBc4AMP6lQ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
/*! CSS Used from: Embedded */
*,::before,::after{box-sizing:inherit;}
*,::before,::after{margin:0px;padding:0px;}
.css-10fw84t{padding-right:8px;opacity:1;background:transparent;color:rgb(52, 71, 103);box-shadow:none;}
.css-1675v7s{display:inline-flex;flex-direction:column;position:relative;min-width:0px;padding:0px;margin:0px;border:0px;vertical-align:top;background-color:transparent;pointer-events:auto;}
.css-1hiu5rg{font-family:Roboto, Helvetica, Arial, sans-serif;font-weight:400;letter-spacing:0.00938em;padding:0px;display:block;transform-origin:left top;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;max-width:calc(100% - 24px);position:absolute;left:0px;top:0px;transform:translate(14px, 16px) scale(1);transition:color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;z-index:1;pointer-events:none;font-size:0.875rem;color:rgb(123, 128, 154);line-height:0.9;}
.css-1ij7x0a{font-family:Roboto, Helvetica, Arial, sans-serif;font-weight:400;line-height:1.4375em;letter-spacing:0.00938em;color:rgba(0, 0, 0, 0.87);box-sizing:border-box;cursor:text;display:inline-flex;-webkit-box-align:center;align-items:center;position:relative;background-color:transparent;font-size:0.875rem;border-radius:0.375rem;}
.css-1pvpzft{font:inherit;letter-spacing:inherit;border:0px;box-sizing:content-box;background:none transparent;height:1.4375em;margin:0px;-webkit-tap-highlight-color:transparent;display:block;min-width:0px;width:100%;animation-name:mui-auto-fill-cancel;animation-duration:10ms;color:rgb(73, 80, 87);padding:0.75rem;}
.css-1pvpzft::-webkit-input-placeholder{color:currentcolor;opacity:0.42;transition:opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;}
.css-1pvpzft:focus{outline:0px;}
.css-1pvpzft:invalid{box-shadow:none;}
label[data-shrink="false"] + .MuiInputBase-formControl .css-1pvpzft::-webkit-input-placeholder{opacity:0!important;}
label[data-shrink="false"] + .MuiInputBase-formControl .css-1pvpzft:focus::-webkit-input-placeholder{opacity:0.42;}

/*! CSS Used from: Embedded */
.material-icons-round{font-family:'Material Icons Round';font-weight:normal;font-style:normal;font-size:24px;line-height:1;letter-spacing:normal;text-transform:none;display:inline-block;white-space:nowrap;word-wrap:normal;direction:ltr;-webkit-font-feature-settings:'liga';-webkit-font-smoothing:antialiased;}
*,::before,::after{box-sizing:inherit;}
*,::before,::after{margin:0px;padding:0px;}
.css-6m0tds{user-select:none;width:1em;height:1em;overflow:hidden;display:inline-block;text-align:center;flex-shrink:0;font-size:inherit!important;}
.css-w0pj6f{overflow:hidden;pointer-events:none;position:absolute;z-index:0;inset:0px;border-radius:inherit;}
/*! CSS Used from: Embedded */
.material-icons-round{font-family:'Material Icons Round';font-weight:normal;font-style:normal;font-size:24px;line-height:1;letter-spacing:normal;text-transform:none;display:inline-block;white-space:nowrap;word-wrap:normal;direction:ltr;-webkit-font-feature-settings:'liga';-webkit-font-smoothing:antialiased;}
*,::before,::after{box-sizing:inherit;}
*,::before,::after{margin:0px;padding:0px;}
/*! CSS Used from: Embedded */
.material-icons-round{font-family:'Material Icons Round';font-weight:normal;font-style:normal;font-size:24px;line-height:1;letter-spacing:normal;text-transform:none;display:inline-block;white-space:nowrap;word-wrap:normal;direction:ltr;-webkit-font-feature-settings:'liga';-webkit-font-smoothing:antialiased;}
*,::before,::after{box-sizing:inherit;}
*,::before,::after{margin:0px;padding:0px;}
.css-6m0tds{user-select:none;width:1em;height:1em;overflow:hidden;display:inline-block;text-align:center;flex-shrink:0;font-size:inherit!important;}
.css-w0pj6f{overflow:hidden;pointer-events:none;position:absolute;z-index:0;inset:0px;border-radius:inherit;}
.css-1616pjc{position:relative;box-sizing:border-box;-webkit-tap-highlight-color:transparent;outline:0px;border:0px;margin:0px;cursor:pointer;vertical-align:middle;appearance:none;text-decoration:none;font-family:Roboto, Helvetica, Arial, sans-serif;letter-spacing:0.02857em;min-width:64px;display:inline-flex;-webkit-box-pack:center;justify-content:center;-webkit-box-align:center;align-items:center;font-size:0.75rem;font-weight:700;border-radius:0.5rem;line-height:1.4;text-align:center;text-transform:uppercase;user-select:none;transition:all 150ms ease-in 0s;min-height:2.5rem;padding:0.625rem 1.5rem;background-image:linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));background-position-y:initial;background-repeat:initial;background-attachment:initial;background-origin:initial;background-clip:initial;background-color:initial;color:rgb(255, 255, 255);box-shadow:rgba(26, 115, 232, 0.15) 0rem 0.1875rem 0.1875rem 0rem, rgba(26, 115, 232, 0.2) 0rem 0.1875rem 0.0625rem -0.125rem, rgba(26, 115, 232, 0.15) 0rem 0.0625rem 0.3125rem 0rem;background-size:150%!important;background-position-x:25%!important;}
@media print{
.css-1616pjc{-webkit-print-color-adjust:exact;}
}
.css-1616pjc:hover{text-decoration:none;background-color:rgb(163, 21, 69);box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;}
@media (hover: none){
.css-1616pjc:hover{background-color:rgb(233, 30, 99);}
}
.css-1616pjc:active{box-shadow:rgba(0, 0, 0, 0.2) 0px 5px 5px -3px, rgba(0, 0, 0, 0.14) 0px 8px 10px 1px, rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;}
.css-1616pjc:disabled{opacity:0.65;}
.css-1616pjc:hover{background-color:rgb(255, 255, 255);}
.css-1616pjc:active,.css-1616pjc:active:focus,.css-1616pjc:active:hover{opacity:0.85;}
.css-1616pjc .material-icons-round{font-size:1rem!important;}
.css-1616pjc:hover{background-color:rgb(26, 115, 232);}
.css-1616pjc:hover{box-shadow:rgba(26, 115, 232, 0.4) 0rem 0.875rem 1.625rem -0.75rem, rgba(26, 115, 232, 0.15) 0rem 0.25rem 1.4375rem 0rem, rgba(26, 115, 232, 0.2) 0rem 0.5rem 0.625rem -0.3125rem;}
.css-1616pjc:disabled{background:linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));color:rgb(255, 255, 255);}

        </style>
        <script type="text/javascript" src="https://cdn.weglot.com/weglot.min.js"></script>
        <script>
            Weglot.initialize({
                api_key: 'wg_95ba057ac55adc53a6a6466d85c8d9f24'
            });
        </script>
    </head>
    <body style="background-color:rgb(240, 242, 245)">
        <div style="width:80%;margin-left:auto;margin-right:auto;margin-top: 0px;" class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-3 css-1h77wgb">
            <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 css-1uo6sxl">
               <div class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation1 MuiCard-root css-sa3w6d">
                  <div class="MuiBox-root css-18l73dz">
                     <h6 class="MuiTypography-root MuiTypography-h6 css-1vkplif">Find People</h6>
                  </div>
                  <div style="height: 6rem;display: flex; flex-direction: row;">
                    <div class="MuiBox-root css-10fw84t" style="margin-top: 2rem;margin-left: 24px;margin-bottom: 1rem;">
                        <div class="MuiFormControl-root MuiTextField-root css-1675v7s" style="width: 600px; height: 80px;">
                          <label class="MuiInputLabel-root MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-outlined MuiFormLabel-root MuiFormLabel-colorPrimary css-1hiu5rg" data-shrink="false" for="mui-1" id="mui-1-label" style="top:-31px; left:-5px;">Search here</label>
                           <div class="MuiOutlinedInput-root MuiInputBase-root MuiInputBase-colorPrimary MuiInputBase-formControl css-1ij7x0a">
                             <input aria-invalid="false" type="text" class="MuiOutlinedInput-input MuiInputBase-input css-1pvpzft" value="" id="searchRefugees" onkeypress="getRefugees($this.value)" placeholder="Search Word" style="border-radius: inherit; border-style: solid; border-width: 1px; overflow: hidden; min-width: 0%; border-color: rgb(210, 214, 218);">
                               
                             </div>
                           </div>
                         </div>
                         <button onclick="getData()" style="height: 3rem;margin-top: 30px;margin-bottom: auto;" class="MuiButton-root MuiButton-contained MuiButton-containedPrimary MuiButton-sizeMedium MuiButton-containedSizeMedium MuiButtonBase-root css-1616pjc" tabindex="0" type="button" ><span class="material-icons-round notranslate MuiIcon-root MuiIcon-fontSizeInherit css-6m0tds" aria-hidden="true">add</span>&nbsp; Find People<span class="MuiTouchRipple-root css-w0pj6f"></span></button>
                    </div>
                  </div>
                  <div class="MuiBox-root css-1fvfpv2">
                     <div class="MuiTableContainer-root css-1r8h6m1">
                        <table role="table" class="MuiTable-root css-11rbhr">
                           <thead class="MuiBox-root css-1ircn5c">
                              <tr class="MuiTableRow-root css-1kuqfbs" role="row">
                                 <th class="MuiBox-root css-1u3mkl1" style="width: 35%" >
                                    <div class="MuiBox-root css-w614i4" colspan="1" role="columnheader">Full Name</div>
                                 </th>
                                 <th class="MuiBox-root css-1u3mkl1" style="width: 150px" >
                                    <div class="MuiBox-root css-w614i4" colspan="1" role="columnheader">From</div>
                                 </th>
                                 <th class="MuiBox-root css-1qbdd0n">
                                    <div class="MuiBox-root css-w614i4" colspan="1" role="columnheader">Current Location</div>
                                 </th>
                                 <th class="MuiBox-root css-1qbdd0n">
                                    <div class="MuiBox-root css-1kcj9bb" colspan="1" role="columnheader">NGO Name</div>
                                 </th>
                                 <th class="MuiBox-root css-1qbdd0n">
                                    <div class="MuiBox-root css-1kcj9bb" colspan="1" role="columnheader">NGO Contact</div>
                                 </th>
                              </tr>
                           </thead>
                           <tbody class="MuiTableBody-root css-1xnox0e" id="refugee-tab-data" role="rowgroup">
                           
                              <tr class="MuiTableRow-root css-1kuqfbs" role="row">
                                 <td class="MuiBox-root css-1nos2st">
                                    <div class="MuiBox-root css-ekdnj9">
                                       <div class="MuiBox-root css-639qxb">
                                          
                                          <div class="MuiBox-root css-11ptvp6"><span class="MuiTypography-root MuiTypography-button css-1ac3nod">koushik</span></div>
                                       </div>
                                    </div>
                                 </td>
                                 <td class="MuiBox-root css-1nos2st">
                                    <div class="MuiBox-root css-ekdnj9"><span class="MuiTypography-root MuiTypography-button css-v4qhfh">ukraine</span></div>
                                 </td>
                                 <td class="MuiBox-root css-1nos2st">
                                    <div class="MuiBox-root css-ekdnj9"><span class="MuiTypography-root MuiTypography-button css-v4qhfh">poland</span></div>
                                 </td>
                                 <td class="MuiBox-root css-15jcv17">
                                    <div class="MuiBox-root css-ekdnj9"><span class="MuiTypography-root MuiTypography-button css-v4qhfh">john</span></div>
                                 </td>
                                 <td class="MuiBox-root css-15jcv17">
                                    <div class="MuiBox-root css-ekdnj9">
                                       <div class="MuiBox-root css-1wd5euj">
                                          <span class="MuiTypography-root MuiTypography-button css-v4qhfh">12017651234</span>
                                          
                                       </div>
                                    </div>
                                 </td>
                              </tr>
                              <tr class="MuiTableRow-root css-1kuqfbs" role="row">
                                 <td class="MuiBox-root css-1nos2st">
                                    <div class="MuiBox-root css-ekdnj9">
                                       <div class="MuiBox-root css-639qxb">
                                          
                                          <div class="MuiBox-root css-11ptvp6"><span class="MuiTypography-root MuiTypography-button css-1ac3nod">karthik</span></div>
                                       </div>
                                    </div>
                                 </td>
                                 <td class="MuiBox-root css-1nos2st">
                                    <div class="MuiBox-root css-ekdnj9"><span class="MuiTypography-root MuiTypography-button css-v4qhfh">ukraine</span></div>
                                 </td>
                                 <td class="MuiBox-root css-1nos2st">
                                    <div class="MuiBox-root css-ekdnj9"><span class="MuiTypography-root MuiTypography-button css-v4qhfh">belarus</span></div>
                                 </td>
                                 <td class="MuiBox-root css-15jcv17">
                                    <div class="MuiBox-root css-ekdnj9"><span class="MuiTypography-root MuiTypography-button css-v4qhfh">michael</span></div>
                                 </td>
                                 <td class="MuiBox-root css-15jcv17">
                                    <div class="MuiBox-root css-ekdnj9">
                                       <div class="MuiBox-root css-1wd5euj">
                                          <span class="MuiTypography-root MuiTypography-button css-v4qhfh">12017631234</span>
                                          
                                       </div>
                                    </div>
                                 </td>
                              </tr>
                              <tr class="MuiTableRow-root css-1kuqfbs" role="row">
                                 <td class="MuiBox-root css-1nos2st">
                                    <div class="MuiBox-root css-ekdnj9">
                                       <div class="MuiBox-root css-639qxb">
                                          
                                          <div class="MuiBox-root css-11ptvp6"><span class="MuiTypography-root MuiTypography-button css-1ac3nod">sashank</span></div>
                                       </div>
                                    </div>
                                 </td>
                                 <td class="MuiBox-root css-1nos2st">
                                    <div class="MuiBox-root css-ekdnj9"><span class="MuiTypography-root MuiTypography-button css-v4qhfh">ukraine</span></div>
                                 </td>
                                 <td class="MuiBox-root css-1nos2st">
                                    <div class="MuiBox-root css-ekdnj9"><span class="MuiTypography-root MuiTypography-button css-v4qhfh">romania</span></div>
                                 </td>
                                 <td class="MuiBox-root css-15jcv17">
                                    <div class="MuiBox-root css-ekdnj9"><span class="MuiTypography-root MuiTypography-button css-v4qhfh">herald</span></div>
                                 </td>
                                 <td class="MuiBox-root css-15jcv17">
                                    <div class="MuiBox-root css-ekdnj9">
                                       <div class="MuiBox-root css-1wd5euj">
                                          <span class="MuiTypography-root MuiTypography-button css-v4qhfh">12017651234</span>
                                          
                                       </div>
                                    </div>
                                 </td>
                              </tr>
                              <tr class="MuiTableRow-root css-1kuqfbs" role="row">
                                 <td class="MuiBox-root css-1nos2st">
                                    <div class="MuiBox-root css-ekdnj9">
                                       <div class="MuiBox-root css-639qxb">
                                          
                                          <div class="MuiBox-root css-11ptvp6"><span class="MuiTypography-root MuiTypography-button css-1ac3nod">sakshi</span></div>
                                       </div>
                                    </div>
                                 </td>
                                 <td class="MuiBox-root css-1nos2st">
                                    <div class="MuiBox-root css-ekdnj9"><span class="MuiTypography-root MuiTypography-button css-v4qhfh">ukraine</span></div>
                                 </td>
                                 <td class="MuiBox-root css-1nos2st">
                                    <div class="MuiBox-root css-ekdnj9"><span class="MuiTypography-root MuiTypography-button css-v4qhfh">poland</span></div>
                                 </td>
                                 <td class="MuiBox-root css-15jcv17">
                                    <div class="MuiBox-root css-ekdnj9"><span class="MuiTypography-root MuiTypography-button css-v4qhfh">john</span></div>
                                 </td>
                                 <td class="MuiBox-root css-15jcv17">
                                    <div class="MuiBox-root css-ekdnj9">
                                       <div class="MuiBox-root css-1wd5euj">
                                          <span class="MuiTypography-root MuiTypography-button css-v4qhfh">6112345634</span>
                                          
                                       </div>
                                    </div>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                        <div class="MuiBox-root css-w6xrhl"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <script>
            //  window.onload = function() {
            //     noData();
            // };
            function noData(){
                console.log(document.getElementById("refugee-tab-data").children.length > 0)
               if( !document.getElementById("refugee-tab-data").children.length > 0){
                   console.log('hey')
                document.getElementById("refugee-tab-data").innerHTML = `<h3 style="position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);">No Data to Display</h3>`
               }
            }

             function getData(){
                 
                 $.ajax({
        type:'POST',
        url:'/getMatchingRefugees',
        data:{
          query:this.document.getElementById("searchRefugees").value,
        },
        success:function(data){
            console.log(data)
            if(!data.length){
                noData();
            }
           document.getElementById("refugee-tab-data").innerHTML+= `<tr class="MuiTableRow-root css-1kuqfbs" role="row">
                                 <td class="MuiBox-root css-1nos2st">
                                    <div class="MuiBox-root css-ekdnj9">
                                       <div class="MuiBox-root css-639qxb">
                                          
                                          <div class="MuiBox-root css-11ptvp6"><span class="MuiTypography-root MuiTypography-button css-1ac3nod">`+data[i]+`</span></div>
                                       </div>
                                    </div>
                                 </td>
                                 <td class="MuiBox-root css-1nos2st">
                                    <div class="MuiBox-root css-ekdnj9"><span class="MuiTypography-root MuiTypography-button css-v4qhfh">`+data[i]+`</span></div>
                                 </td>
                                 <td class="MuiBox-root css-1nos2st">
                                    <div class="MuiBox-root css-ekdnj9"><span class="MuiTypography-root MuiTypography-button css-v4qhfh">`+data[i]+`</span></div>
                                 </td>
                                 <td class="MuiBox-root css-15jcv17">
                                    <div class="MuiBox-root css-ekdnj9"><span class="MuiTypography-root MuiTypography-button css-v4qhfh">`+data[i]+`</span></div>
                                 </td>
                                 <td class="MuiBox-root css-15jcv17">
                                    <div class="MuiBox-root css-ekdnj9">
                                       <div class="MuiBox-root css-1wd5euj">
                                          <span class="MuiTypography-root MuiTypography-button css-v4qhfh">`+data[i]+`</span>
                                          <div class="MuiBox-root css-1jyu9r7"><span class="material-icons-round notranslate MuiIcon-root MuiIcon-fontSizeSmall css-7jcs4m" aria-hidden="true">keyboard_arrow_up</span></div>
                                       </div>
                                    </div>
                                 </td>
                              </tr>`
        
        }
      });
             }
         </script>
    </body>
</html>
