<html>
    <head>
        <style>
            /*! CSS Used from: Embedded */
 *,::before,::after{
    box-sizing:inherit;
}
 *,::before,::after{
    margin:0px;
    padding:0px;
}
 a,a:link,a:visited{
    text-decoration:none!important;
}
/*! CSS Used from: Embedded */
 .css-1ircn5c{
    opacity:1;
    background:transparent;
    color:rgb(52, 71, 103);
    box-shadow:none;
}
 .css-18rmxgd{
    margin:0px;
    font-family:Roboto, Helvetica, Arial, sans-serif;
    font-size:0.875rem;
    font-weight:300;
    line-height:1.5;
    letter-spacing:0.02857em;
    opacity:1;
    text-transform:none;
    vertical-align:unset;
    text-decoration:none;
    color:rgb(123, 128, 154);
}
 .css-1m9pwf3{
    cursor:inherit;
    position:absolute;
    opacity:0;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    margin:0px;
    padding:0px;
    z-index:1;
}
 .css-16pyyvj{
    margin-bottom:16px;
    opacity:1;
    background:transparent;
    color:rgb(52, 71, 103);
    box-shadow:none;
}
 .css-oagsia{
    position:relative;
    box-sizing:border-box;
    -webkit-tap-highlight-color:transparent;
    outline:0px;
    border:0px;
    margin:0px;
    cursor:pointer;
    vertical-align:middle;
    appearance:none;
    text-decoration:none;
    font-family:Roboto, Helvetica, Arial, sans-serif;
    letter-spacing:0.02857em;
    min-width:64px;
    width:100%;
    display:inline-flex;
    -webkit-box-pack:center;
    justify-content:center;
    -webkit-box-align:center;
    align-items:center;
    font-size:0.75rem;
    font-weight:700;
    border-radius:0.5rem;
    line-height:1.4;
    text-align:center;
    text-transform:uppercase;
    user-select:none;
    transition:all 150ms ease-in 0s;
    min-height:2.5rem;
    padding:0.625rem 1.5rem;
    background-image:linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));
    background-position-y:initial;
    background-repeat:initial;
    background-attachment:initial;
    background-origin:initial;
    background-clip:initial;
    background-color:initial;
    color:rgb(255, 255, 255);
    box-shadow:rgba(26, 115, 232, 0.15) 0rem 0.1875rem 0.1875rem 0rem, rgba(26, 115, 232, 0.2) 0rem 0.1875rem 0.0625rem -0.125rem, rgba(26, 115, 232, 0.15) 0rem 0.0625rem 0.3125rem 0rem;
    background-size:150%!important;
    background-position-x:25%!important;
}
 @media print{
     .css-oagsia{
        -webkit-print-color-adjust:exact;
    }
}
 .css-oagsia:hover{
    text-decoration:none;
    background-color:rgb(163, 21, 69);
    box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
}
 @media (hover: none){
     .css-oagsia:hover{
        background-color:rgb(233, 30, 99);
    }
}
 .css-oagsia:active{
    box-shadow:rgba(0, 0, 0, 0.2) 0px 5px 5px -3px, rgba(0, 0, 0, 0.14) 0px 8px 10px 1px, rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;
}
 .css-oagsia:disabled{
    opacity:0.65;
}
 .css-oagsia:hover{
    background-color:rgb(255, 255, 255);
}
 .css-oagsia:active,.css-oagsia:active:focus,.css-oagsia:active:hover{
    opacity:0.85;
}
 .css-oagsia:hover{
    background-color:rgb(26, 115, 232);
}
 .css-oagsia:hover{
    box-shadow:rgba(26, 115, 232, 0.4) 0rem 0.875rem 1.625rem -0.75rem, rgba(26, 115, 232, 0.15) 0rem 0.25rem 1.4375rem 0rem, rgba(26, 115, 232, 0.2) 0rem 0.5rem 0.625rem -0.3125rem;
}
 .css-oagsia:disabled{
    background:linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));
    color:rgb(255, 255, 255);
}
 .css-w0pj6f{
    overflow:hidden;
    pointer-events:none;
    position:absolute;
    z-index:0;
    inset:0px;
    border-radius:inherit;
}
 .css-1yyhlhe{
    padding-left:8px;
    padding-right:8px;
    width:calc(100% - 2rem);
    margin-left:auto;
    margin-right:auto;
    opacity:1;
    background:transparent;
    color:rgb(52, 71, 103);
    box-shadow:none;
}
 @media (min-width: 0px){
     .css-1yyhlhe{
        margin-top:-160px;
    }
}
 @media (min-width: 992px){
     .css-1yyhlhe{
        margin-top:-144px;
    }
}
 .css-skvbsg{
    box-sizing:border-box;
    display:flex;
    flex-flow:row wrap;
    margin-top:-8px;
    width:calc(100% + 8px);
    margin-left:-8px;
    -webkit-box-pack:center;
    justify-content:center;
}
 .css-skvbsg > .MuiGrid-item{
    padding-top:8px;
}
 .css-skvbsg > .MuiGrid-item{
    padding-left:8px;
}
 .css-1etbfcs{
    box-sizing:border-box;
    margin:0px;
    flex-direction:row;
    flex-basis:91.6667%;
    -webkit-box-flex:0;
    flex-grow:0;
    max-width:91.6667%;
}
 @media (min-width: 576px){
     .css-1etbfcs{
        flex-basis:75%;
        -webkit-box-flex:0;
        flex-grow:0;
        max-width:75%;
    }
}
 @media (min-width: 768px){
     .css-1etbfcs{
        flex-basis:41.6667%;
        -webkit-box-flex:0;
        flex-grow:0;
        max-width:41.6667%;
    }
}
 @media (min-width: 992px){
     .css-1etbfcs{
        flex-basis:33.3333%;
        -webkit-box-flex:0;
        flex-grow:0;
        max-width:33.3333%;
    }
}
 @media (min-width: 1200px){
     .css-1etbfcs{
        flex-basis:25%;
        -webkit-box-flex:0;
        flex-grow:0;
        max-width:25%;
    }
}
 @media (min-width: 1400px){
     .css-1etbfcs{
        flex-basis:25%;
        -webkit-box-flex:0;
        flex-grow:0;
        max-width:25%;
    }
}
 .css-sa3w6d{
    color:rgba(0, 0, 0, 0.87);
    transition:box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    display:flex;
    flex-direction:column;
    position:relative;
    min-width:0px;
    overflow-wrap:break-word;
    background-color:rgb(255, 255, 255);
    background-clip:border-box;
    border:0px solid rgba(0, 0, 0, 0.125);
    border-radius:0.75rem;
    box-shadow:rgba(0, 0, 0, 0.1) 0rem 0.25rem 0.375rem -0.0625rem, rgba(0, 0, 0, 0.06) 0rem 0.125rem 0.25rem -0.0625rem;
    overflow:visible;
}
 .css-1hsbxv0{
    margin:-24px 16px 8px;
    padding:24px;
    text-align:center;
    opacity:1;
    background:linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));
    color:rgb(52, 71, 103);
    border-radius:0.5rem;
    box-shadow:rgba(0, 0, 0, 0.14) 0rem 0.25rem 1.25rem 0rem, rgba(76, 175, 79, 0.4) 0rem 0.4375rem 0.625rem -0.3125rem;
}
 .css-1139jqi{
    margin:8px 0px 0px;
    font-size:1.5rem;
    line-height:1.375;
    font-family:Roboto, Helvetica, Arial, sans-serif;
    letter-spacing:0.00735em;
    opacity:1;
    text-transform:none;
    vertical-align:unset;
    text-decoration:none;
    color:rgb(255, 255, 255);
    font-weight:600;
}
 .css-1vmcl1i{
    margin:8px 0px;
    font-family:Roboto, Helvetica, Arial, sans-serif;
    font-size:0.875rem;
    font-weight:300;
    line-height:1.5;
    letter-spacing:0.02857em;
    display:block;
    opacity:1;
    text-transform:none;
    vertical-align:unset;
    text-decoration:none;
    color:rgb(255, 255, 255);
}
 .css-1iu09ww{
    padding:32px 24px 24px;
    opacity:1;
    background:transparent;
    color:rgb(52, 71, 103);
    box-shadow:none;
}
 .css-16qtvyo{
    display:inline-flex;
    flex-direction:column;
    position:relative;
    min-width:0px;
    padding:0px;
    margin:0px;
    border:0px;
    vertical-align:top;
    width:100%;
    background-color:transparent;
    pointer-events:auto;
}
 .css-xce1f0{
    font-family:Roboto, Helvetica, Arial, sans-serif;
    font-weight:400;
    line-height:1.4375em;
    letter-spacing:0.00938em;
    box-sizing:border-box;
    cursor:text;
    display:inline-flex;
    -webkit-box-align:center;
    align-items:center;
    width:100%;
    position:relative;
    font-size:0.875rem;
    color:rgb(52, 71, 103);
}
 label + .css-xce1f0{
    margin-top:16px;
}
 .css-xce1f0::after{
    border-bottom:2px solid rgb(233, 30, 99);
    left:0px;
    bottom:0px;
    content:"";
    position:absolute;
    right:0px;
    transform:scaleX(0);
    transition:transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    pointer-events:none;
}
 .css-xce1f0::before{
    border-bottom:1px solid rgba(0, 0, 0, 0.42);
    left:0px;
    bottom:0px;
    content:" ";
    position:absolute;
    right:0px;
    transition:border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    pointer-events:none;
}
 .css-xce1f0:hover:not(.Mui-disabled)::before{
    border-bottom:2px solid rgba(0, 0, 0, 0.87);
}
 @media (hover: none){
     .css-xce1f0:hover:not(.Mui-disabled)::before{
        border-bottom:1px solid rgba(0, 0, 0, 0.42);
    }
}
 .css-xce1f0:hover:not(.Mui-disabled)::before{
    border-bottom:0.0625rem solid rgb(210, 214, 218);
}
 .css-xce1f0::before{
    border-color:rgb(210, 214, 218);
}
 .css-xce1f0::after{
    border-color:rgb(26, 115, 232);
}
 .css-mevgbx{
    font:inherit;
    letter-spacing:inherit;
    color:currentcolor;
    padding:4px 0px 5px;
    border:0px;
    box-sizing:content-box;
    background:none;
    height:1.4375em;
    margin:0px;
    -webkit-tap-highlight-color:transparent;
    display:block;
    min-width:0px;
    width:100%;
    animation-name:mui-auto-fill-cancel;
    animation-duration:10ms;
}
 .css-mevgbx::-webkit-input-placeholder{
    color:currentcolor;
    opacity:0.42;
    transition:opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
 .css-mevgbx:focus{
    outline:0px;
}
 .css-mevgbx:invalid{
    box-shadow:none;
}
 label[data-shrink="false"] + .MuiInputBase-formControl .css-mevgbx::-webkit-input-placeholder{
    opacity:0!important;
}
 label[data-shrink="false"] + .MuiInputBase-formControl .css-mevgbx:focus::-webkit-input-placeholder{
    opacity:0.42;
}
 .css-oh6zk8{
    display:flex;
    -webkit-box-align:center;
    align-items:center;
    margin-left:-8px;
    opacity:1;
    background:transparent;
    color:rgb(52, 71, 103);
    box-shadow:none;
}
 .css-lr1e29{
    margin:0px 0px 0px -8px;
    font-family:Roboto, Helvetica, Arial, sans-serif;
    font-size:0.875rem;
    line-height:1.5;
    letter-spacing:0.02857em;
    opacity:1;
    text-transform:none;
    vertical-align:unset;
    text-decoration:none;
    color:rgb(123, 128, 154);
    font-weight:400;
    cursor:pointer;
    user-select:none;
}
 .css-1id64jh{
    margin-top:32px;
    margin-bottom:8px;
    opacity:1;
    background:transparent;
    color:rgb(52, 71, 103);
    box-shadow:none;
}
 .css-ne2rd{
    margin-top:24px;
    margin-bottom:8px;
    text-align:center;
    opacity:1;
    background:transparent;
    color:rgb(52, 71, 103);
    box-shadow:none;
}
 .css-13cfyfx{
    margin:0px;
    font-family:Roboto, Helvetica, Arial, sans-serif;
    font-size:0.875rem;
    line-height:1.5;
    letter-spacing:0.02857em;
    opacity:1;
    text-transform:none;
    vertical-align:unset;
    text-decoration:none;
    color:rgb(26, 115, 232);
    font-weight:600;
    background-image:linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));
    display:inline-block;
    background-clip:text;
    -webkit-text-fill-color:transparent;
    position:relative;
    z-index:1;
}
 .css-gu98va{
    font-family:Roboto, Helvetica, Arial, sans-serif;
    font-weight:400;
    letter-spacing:0.00938em;
    padding:0px;
    display:block;
    transform-origin:left top;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    max-width:100%;
    position:absolute;
    left:0px;
    top:0px;
    transform:translate(0px, 20px) scale(1);
    transition:color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    font-size:0.875rem;
    color:rgb(123, 128, 154);
    line-height:0.9;
}
 .css-rn67k4{
    display:inline-flex;
    -webkit-box-align:center;
    align-items:center;
    -webkit-box-pack:center;
    justify-content:center;
    position:relative;
    box-sizing:border-box;
    -webkit-tap-highlight-color:transparent;
    background-color:transparent;
    outline:0px;
    border:0px;
    margin:0px;
    cursor:pointer;
    user-select:none;
    vertical-align:middle;
    appearance:none;
    text-decoration:none;
    padding:9px;
    border-radius:50%;
    color:rgb(222, 226, 230);
}
 @media print{
     .css-rn67k4{
        -webkit-print-color-adjust:exact;
    }
}
 .css-rn67k4:hover{
    background-color:rgba(233, 30, 99, 0.04);
}
 @media (hover: none){
     .css-rn67k4:hover{
        background-color:transparent;
    }
}
 .css-rn67k4 .MuiSvgIcon-root{
    background-position:center center;
    background-size:contain;
    background-repeat:no-repeat;
    width:1.25rem;
    height:1.25rem;
    color:transparent;
    border:0.0625rem solid rgb(222, 226, 230);
    border-radius:0.35rem;
}
 .css-rn67k4:hover{
    background-color:transparent;
}
 .css-10dohqv{
    user-select:none;
    width:1em;
    height:1em;
    display:inline-block;
    fill:currentcolor;
    flex-shrink:0;
    transition:fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size:1.5rem;
}
 .css-17zgyxi{
    margin:0px;
    font-family:Roboto, Helvetica, Arial, sans-serif;
    font-size:0.875rem;
    line-height:1.5;
    letter-spacing:0.02857em;
    opacity:1;
    text-transform:none;
    vertical-align:unset;
    text-decoration:none;
    color:rgb(26, 115, 232);
    font-weight:700;
    background-image:linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));
    display:inline-block;
    background-clip:text;
    -webkit-text-fill-color:transparent;
    position:relative;
    z-index:1;
}
/*! CSS Used keyframes */
 @-webkit-keyframes mui-auto-fill-cancel{
    0%{
        display:block;
    }
}
 @keyframes mui-auto-fill-cancel{
    0%{
        display:block;
    }
}
 @-webkit-keyframes mui-auto-fill-cancel{
    0%{
        display:block;
    }
}
 @keyframes mui-auto-fill-cancel{
    0%{
        display:block;
    }
}
 @-webkit-keyframes mui-auto-fill-cancel{
    0%{
        display:block;
    }
}
 @keyframes mui-auto-fill-cancel{
    0%{
        display:block;
    }
}
/*! CSS Used fontfaces */
 @font-face{
    font-family:'Roboto';
    font-style:normal;
    font-weight:300;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fCRc4AMP6lbBP.woff2) format('woff2');
    unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
 @font-face{
    font-family:'Roboto';
    font-style:normal;
    font-weight:300;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fABc4AMP6lbBP.woff2) format('woff2');
    unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
 @font-face{
    font-family:'Roboto';
    font-style:normal;
    font-weight:300;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fCBc4AMP6lbBP.woff2) format('woff2');
    unicode-range:U+1F00-1FFF;
}
 @font-face{
    font-family:'Roboto';
    font-style:normal;
    font-weight:300;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fBxc4AMP6lbBP.woff2) format('woff2');
    unicode-range:U+0370-03FF;
}
 @font-face{
    font-family:'Roboto';
    font-style:normal;
    font-weight:300;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fCxc4AMP6lbBP.woff2) format('woff2');
    unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
 @font-face{
    font-family:'Roboto';
    font-style:normal;
    font-weight:300;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fChc4AMP6lbBP.woff2) format('woff2');
    unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
 @font-face{
    font-family:'Roboto';
    font-style:normal;
    font-weight:300;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fBBc4AMP6lQ.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
 @font-face{
    font-family:'Roboto';
    font-style:normal;
    font-weight:400;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu72xKKTU1Kvnz.woff2) format('woff2');
    unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
 @font-face{
    font-family:'Roboto';
    font-style:normal;
    font-weight:400;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu5mxKKTU1Kvnz.woff2) format('woff2');
    unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
 @font-face{
    font-family:'Roboto';
    font-style:normal;
    font-weight:400;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu7mxKKTU1Kvnz.woff2) format('woff2');
    unicode-range:U+1F00-1FFF;
}
 @font-face{
    font-family:'Roboto';
    font-style:normal;
    font-weight:400;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4WxKKTU1Kvnz.woff2) format('woff2');
    unicode-range:U+0370-03FF;
}
 @font-face{
    font-family:'Roboto';
    font-style:normal;
    font-weight:400;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu7WxKKTU1Kvnz.woff2) format('woff2');
    unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
 @font-face{
    font-family:'Roboto';
    font-style:normal;
    font-weight:400;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu7GxKKTU1Kvnz.woff2) format('woff2');
    unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
 @font-face{
    font-family:'Roboto';
    font-style:normal;
    font-weight:400;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
 @font-face{
    font-family:'Roboto';
    font-style:normal;
    font-weight:500;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fCRc4AMP6lbBP.woff2) format('woff2');
    unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
 @font-face{
    font-family:'Roboto';
    font-style:normal;
    font-weight:500;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fABc4AMP6lbBP.woff2) format('woff2');
    unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
 @font-face{
    font-family:'Roboto';
    font-style:normal;
    font-weight:500;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fCBc4AMP6lbBP.woff2) format('woff2');
    unicode-range:U+1F00-1FFF;
}
 @font-face{
    font-family:'Roboto';
    font-style:normal;
    font-weight:500;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fBxc4AMP6lbBP.woff2) format('woff2');
    unicode-range:U+0370-03FF;
}
 @font-face{
    font-family:'Roboto';
    font-style:normal;
    font-weight:500;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fCxc4AMP6lbBP.woff2) format('woff2');
    unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
 @font-face{
    font-family:'Roboto';
    font-style:normal;
    font-weight:500;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fChc4AMP6lbBP.woff2) format('woff2');
    unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
 @font-face{
    font-family:'Roboto';
    font-style:normal;
    font-weight:500;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fBBc4AMP6lQ.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
 @font-face{
    font-family:'Roboto';
    font-style:normal;
    font-weight:700;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfCRc4AMP6lbBP.woff2) format('woff2');
    unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
 @font-face{
    font-family:'Roboto';
    font-style:normal;
    font-weight:700;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfABc4AMP6lbBP.woff2) format('woff2');
    unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
 @font-face{
    font-family:'Roboto';
    font-style:normal;
    font-weight:700;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfCBc4AMP6lbBP.woff2) format('woff2');
    unicode-range:U+1F00-1FFF;
}
 @font-face{
    font-family:'Roboto';
    font-style:normal;
    font-weight:700;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfBxc4AMP6lbBP.woff2) format('woff2');
    unicode-range:U+0370-03FF;
}
 @font-face{
    font-family:'Roboto';
    font-style:normal;
    font-weight:700;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfCxc4AMP6lbBP.woff2) format('woff2');
    unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
 @font-face{
    font-family:'Roboto';
    font-style:normal;
    font-weight:700;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfChc4AMP6lbBP.woff2) format('woff2');
    unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
 @font-face{
    font-family:'Roboto';
    font-style:normal;
    font-weight:700;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfBBc4AMP6lQ.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}





        </style>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $('document').ready(function(){
  $('.form-control').on('focus',function(){
    $('label').removeClass('active');
     $(this).closest('.form-group').find('label').addClass('active');
  });
})
</script>
    </head>
    <body>
        
        <div class="MuiBox-root css-1yyhlhe" style="margin-top:15vh">
            <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-1 css-skvbsg">
               <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-11 MuiGrid-grid-sm-9 MuiGrid-grid-md-5 MuiGrid-grid-lg-4 MuiGrid-grid-xl-3 css-1etbfcs">
                  <div class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation1 MuiCard-root css-sa3w6d">
                     <div class="MuiBox-root css-1hsbxv0">
                        <h4 class="MuiTypography-root MuiTypography-h4 css-1139jqi">Join us today</h4>
                        <span class="MuiTypography-root MuiTypography-button css-1vmcl1i">NGO</span>
                     </div>
                     <div class="MuiBox-root css-1iu09ww">
                        <form class="MuiBox-root css-1ircn5c" role="form" method="POST">
                          
                           <div class="MuiBox-root css-16pyyvj">
                              <div class="MuiFormControl-root MuiFormControl-fullWidth MuiTextField-root css-16qtvyo">
                                 <!-- <label class="MuiInputLabel-root MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-standard MuiFormLabel-root MuiFormLabel-colorPrimary css-gu98va" data-shrink="false" for="mui-5" id="mui-5-label">Email</label> -->
                                 <div class="MuiInput-root MuiInput-underline MuiInputBase-root MuiInputBase-colorPrimary MuiInputBase-fullWidth MuiInputBase-formControl css-xce1f0"><input aria-invalid="false" name="email" type="email" placeholder="E-mail" class="MuiInput-input MuiInputBase-input css-mevgbx" value="" id="mui-5"></div>
                              </div>
                           </div>
                           <div class="MuiBox-root css-16pyyvj">
                              <div class="MuiFormControl-root MuiFormControl-fullWidth MuiTextField-root css-16qtvyo">
                                 <!-- <label class="MuiInputLabel-root MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-standard MuiFormLabel-root MuiFormLabel-colorPrimary css-gu98va" data-shrink="false" for="mui-6" id="mui-6-label">Password</label> -->
                                 <div class="MuiInput-root MuiInput-underline MuiInputBase-root MuiInputBase-colorPrimary MuiInputBase-fullWidth MuiInputBase-formControl css-xce1f0"><input aria-invalid="false" name="password" type="password" placeholder="Password" class="MuiInput-input MuiInputBase-input css-mevgbx" value="" id="mui-6"></div>
                              </div>
                           </div>
                           <div class="MuiBox-root css-16pyyvj">
                            <div class="MuiFormControl-root MuiFormControl-fullWidth MuiTextField-root css-16qtvyo">
                               <!-- <label class="MuiInputLabel-root MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-standard MuiFormLabel-root MuiFormLabel-colorPrimary css-gu98va" data-shrink="false" for="mui-7" id="mui-7-label">Confirm Password</label> -->
                               <div class="MuiInput-root MuiInput-underline MuiInputBase-root MuiInputBase-colorPrimary MuiInputBase-fullWidth MuiInputBase-formControl css-xce1f0"><input aria-invalid="false" name = "password1" type="password" placeholder="Confirm Password" class="MuiInput-input MuiInputBase-input css-mevgbx" value="" id="mui-7"></div>
                            </div>
                         </div>
                          
                           <div class="MuiBox-root css-1id64jh"><button class="MuiButton-root MuiButton-contained MuiButton-containedPrimary MuiButton-sizeMedium MuiButton-containedSizeMedium MuiButton-fullWidth MuiButtonBase-root css-oagsia" tabindex="0" type="submit">sign up<span class="MuiTouchRipple-root css-w0pj6f"></span></button></div>
                           <div class="MuiBox-root css-ne2rd"><span class="MuiTypography-root MuiTypography-button css-18rmxgd">Already have an accoun6? <a style="text-decoration: none;color: rgb(26, 115, 232);letter-spacing:0.02857em;font-weight: 600;" href="/auth/login">Sign in</a></span></div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
    </body>
    
</html>